<div class="content">
  {% for rs in daycontents %}
    <div class="container_12">
      <div class="grid_12">
        <h3>ÖNE ÇIKANLAR</h3>
      </div>
      <div class="boxes">
        <div class="grid_4">
          <figure>
               {% load static %}
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
              <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
               <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
             <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </div>


      <div class="clear"></div>
    </div>
  </div>
{% endfor %}
  {% for rs in lastcontents %}
   <div class="container_12">
      <div class="grid_12">
        <h3>SON EKLENENLER</h3>
      </div>
      <div class="boxes">
        <div class="grid_4">
          <figure>
               {% load static %}
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
               <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
              <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
              <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </div>


      <div class="clear"></div>
    </div>
  </div>
{% endfor %}
  {% for rs in  randomcontents %}
   <div class="container_12">
      <div class="grid_12">
        <h3>SİZİN İÇİN SEÇTİKLERİMİZ</h3>
      </div>
      <div class="boxes">
        <div class="grid_4">
          <figure>
               {% load static %}
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
               <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}"  class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
              <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="grid_4">
          <figure>
            <div><img src="{{ rs.image.url}}" style="height: 400px" alt=""></div>
            <figcaption>
              <h3>{{rs.title}}</h3>
             <a href="/content/{{rs.id}}/{{rs.slug}}/{{rs.title}}" class="btn">Details</a> </figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </div>


      <div class="clear"></div>
    </div>
  </div>
 {% endfor %}
  <div class="bottom_block">
    <div class="container_12">
      <div class="grid_2 prefix_2">
        <ul>
          <li><a href="#">FAQS Page</a></li>
          <li><a href="#">People Say</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Useful links</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Family Travel</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <h4>Contact Us:</h4>
        TEL: 1-800-234-5678<br>
        <a href="#">info@demolink.org</a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

</body>
</html>