<header>
  <div class="container_12">
    <div class="grid_12">
         {% load static %}
      <h1><a href="index.html"><img src="{% static 'images/logo.png'%}" alt=""></a></h1>
      <div class="clear"></div>
    </div>

    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li class="current"><a href="index.html">Home</a></li>
          <li class="with_ul"><a href="about.html">About</a>
            <ul>
              <li><a href="#">Agency</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="tours.html">Tours</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contacts.html">Contacts</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
   </div>
</header>