<header>
  <div class="container_12">
    <div class="grid_12">
         {% load static %}
      <h1><a href="index.html"><img src="{% static 'images/logo.png'%}" alt=""></a></h1>
      <div class="clear"></div>
    </div>

    <div class="menu_block">
     <nav>
        <ul class="sf-menu">
          <li class="current"><a href="/home">Home</a></li>
          <li class="with_ul"><a href="about.html">About</a>
           	<li>

								{% load mptt_tags %}
								<a class="fh5co-sub-ddown" href="/category/{{rs.id}}/{{rs.slug}}">Yerler</a>
							<ul>
								{% recursetree category %}
									<li>
										<a href="/category/{{node.id}}/{{node.slug}}" class="fh5co-sub-ddown" style="color: red" >{{ node.title }}</a>

										{% if not node.is_leaf_node %}
											<ul class="children" >
												<li><a href="/category/{{node.slug}}">{{ children }}</a>
														<ul class="children">
															<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">{{ children }}</a></li>
														</ul>
													</li>
													</li>

											</ul>
										{% endif %}
									</li>
								{% endrecursetree %}
							</ul>

							</li>

          </li>

          <li><a href="hakkimizda">Hakkımızda</a></li>
          <li><a href="iletisim">İLETİŞİM</a></li>
          <li><a href="/referanslarimiz">Referanslar</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
   </div>
</header>