{% load static %}

<div id="fh5co-wrapper"></div>
<div id="fh5co-page"></div>
<div id="fh5co-header"></div>

	<script>

    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }

	</script>

  <header>
 <div class="container_12">
    <div class="grid_12">

      <h1><a href="index.html"><img src="{% static 'images/logo.png'%}" alt=""></a></h1>
      <div class="clear"></div>

    </div>



               <div id="search" class="collapse">
                    <div class="container">
                        <form role="search" class="ml-auto" action="/search/" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-append">
                                    <select class="form-control" name="catid">
                                        <option value="0">All Categories</option>
                                        {% load mptt_tags %}
                                        {% recursetree category %}
                                            {% if  node.is_leaf_node %}
                                                <option value="{{ node.id }}">{{ node.title }}</option>
                                            {% endif %}
                                            {% if not node.is_leaf_node %}
                                                <optgroup label="{{ node.title }}">
                                                    {{ children }}
                                                </optgroup>
                                            {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                </div>
                                <input id="query" type="text" name="query" placeholder="Search" class="form-control"><img src="\uploads\images\search.jpg" style="height:20px"><button type="submit" class="btn btn-primary"><i class="fa fa-search">Ara</i></button>

                            </div>
                        </form>
                    </div>
                </div>


    <div class="menu_block">
     <nav>
        <ul class="sf-menu">
          <li class="current"><a href="/home">Home</a></li>
          <li class="with_ul"><a href="about.html">About</a>
           	<li>

								{% load mptt_tags %}
								<a class="fh5co-sub-ddown" href="/category/{{rs.id}}/{{rs.slug}}">Yerler</a>
							<ul>
								{% recursetree category %}
									<li>
										<a href="/category/{{node.id}}/{{node.slug}}" class="fh5co-sub-ddown" style="color: red" >{{ node.title }}</a>

										{% if not node.is_leaf_node %}

											<ul class="children">
												<li><a href="/category/{{node.slug}}">{{ children }}</a>
														<ul class="children">
															<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">{{ children }}</a></li>
														</ul>
													</li>
													</li>

											</ul>
										{% endif %}
									</li>
								{% endrecursetree %}
							</ul>

							</li>

          </li>

          <li><a href="hakkimizda">Hakkımızda</a></li>
          <li><a href="iletisim">İLETİŞİM</a></li>
          <li><a href="/referanslarimiz">Referanslar</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
                           <li><a style="color: black" href="/sss">SSS</a></li>
							<li>
                                {% if user.id is not None %}
                            <a  style="color: black" href="">{{ user.first_name }} <span class="" aria-hidden="true"></span></a>
                           <ul>
                                <li>
                                    <a class="dropdown-item" href=""> <img class="img-profile rounded-circle" src="{{ user.userprofile.image.url }}" style="max-width: 60px">
                                        <br>
                                    </a>
                                </li>
                                <li>

                                    <a style="color: black" href="/user/" class="dropdown-item" >
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400">My account</i>

                                    </a>

                                </li>
                                <li>

                                        <a style="color: black" href="/logout/" class="dropdown-item" >
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400">Logout</i>

                                        </a>

                                </li>

                            </ul>
                                {% else %}

                            <li><a style="color: black" href="/login/">Login</a></li>
                            <li><a  style="color: black" href="/signup">Sign up</a></li>

                                {% endif %}


            <!-- //nav -->


				</div>
	</li>
</nav>


		</header>

		</div>