<!DOCTYPE html>
<html lang="en">
<head>
   title>{% block title %} Django Gezi Aktivite Sitesi {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Home Keywords {% endblock %}">
    <meta name="description" content="{% block description %} Home description  {% endblock %}">
<meta charset="utf-8">
    {% load static %}
<link type="text/css' %}" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/slider.css'%}">
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js'%}"></script>
<script src="{% static 'js/superfish.js'%}"></script>
<script src="{% static 'js/sForm.js'%}"></script>
<script src="{% static 'js/jquery.jqtransform.js'%}"></script>
<script src="{% static 'js/jquery.equalheights.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
<script src="{% static 'js/tms-0.4.1.js'%}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js'%}"></script>
<script src="{% static 'js/jquery.ui.totop.js'%}"></script>
<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'random',
        pagination: false, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    });
    $("#tabs").tabs();
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
</script>
<!--[if lt IE 9]>
<script src="{% static 'js/html5shiv.js'%}"></script>
<link rel="stylesheet" media="screen" href="{% static 'css/ie.css'%}">
<![endif]-->

    {% block head %}


    {% endblock %}
</head>

<body>
    {% include 'header.html' %}
    {% block sidebar %} {% endblock %}
    {% block slider %} {% endblock %}
    {% block content %} {% endblock %}
    {% block body %} {% endblock %}
    {% include 'footer.html' %}
    {% block footer %} {% endblock %}


</body>
</html>