
<div class="main">
  <div class="container_12">
    <div class="grid_12">
      <div class="slider-relative">
        <div class="slider-block">
           <div class="slider"> <a href="#" class="prev"></a><a href="#" class="next"></a>
            <ul class="items">
                 {% load static %}
              <li><img src="{% static 'images/slide.jpg'%}" alt="">
                 {% for rs in sliderdata %}
                 <img src="{{ rs.image.url }}" style="height: 350px">
                <div class="banner">

                  <div>THERE ARE PLENTY OF PLACES</div>

                  <p><span>{{ rs.title }}</span></p>
                  <h2>{{ rs.description }}</h2>
                  <p>
                      <a href="/category/{{rs.id}}/{{rs.slug}}"></a>
                  </p>

                  <br>
                  <span> that are worth seeing</span> </div>
              </li>

              <li><img src="{{ rs.image.url }}" alt=""></li>
              {% endfor %}
            </ul>

          </div>
        </div>

    </div>
  </div>
</div>



    </div>
