{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block topbar %}
    {% include "topbar.html" %}
{% endblock %}

{% block content %}

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">User Password</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">User Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-9">
                    <div class="box">
                        <h2>CHANGE PASSWORD</h2>
                        <hr>
                        {% if messages %}
                            {% for message in messages %}
                                <div id=" sendmessage" style="color: #d43f3a; font-size: medium"
                                     class="alert alert-{{ message.tags }}" ROLE="alert">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post">{% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-2 required">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="col-sm-10">
                                        {{ field }}
                                    </div>
                                    {% if field.help_text %}
                                        <small style="color: gray">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Customer section</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm">
                                <li class="nav-item"><a href="" class="nav-link active"><i
                                        class="fa fa-user"></i> My Account</a></li>
                                     <li class="nav-item"><a href="/user/contents" class="nav-link"><i
                                        class="fa fa-list"></i> My Aktivite List</a></li>
                                <li class="nav-item"><a href="/comments " class="nav-link"><i class="fa fa-comment"></i>
                                    My Comments</a></li>

                                <li class="nav-item"><a href="/logout/" class="nav-link"><i class="fa fa-sign-out"></i>
                                    Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}