{% extends "homebase.html" %}


{% block title %} {{ profile.user_name }} Profile {% endblock %}

{% block keywords %}{{ setting.keywords }} {% endblock %}

{% block description%}{{ setting.description }} {% endblock %}
{% block head %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

    <link rel='shortcut icon' type='image/x-icon' href={{setting.icon.url}} /> {% endblock %}


{% block content %}

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">User Comments</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">User Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-9">
                    <h1><a>Comments</a></h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            {% if messages %}
                                {% for message in messages %}
                                    <div id=" sendmessage " class="alert alert-{{ message.tags }}" ROLE="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th>Content</th>
                                <th>Rate</th>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td nowrap><a href="/content/{{ comment.content.id }}/{{ comment.content.slug }}"><strong>{{ comment.content.title }}</strong></a>
                                    </td>
                                    <td>{{ comment.rate }}</td>
                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td>{{ comment.status }}</td>
                                    <td>{{ comment.create_at }}</td>
                                    <td nowrap><a class="btn btn-danger" href="/user/deletecomment/{{ comment.id }}" onclick="return confirm('Will be delete ! Are you sure?')">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Customer section</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm">
                                <li class="nav-item"><a href="" class="nav-link active"><i class="fa fa-user"></i> My Account</a></li>
                                <li class="nav-item"><a href="/user/contents" class="nav-link">
                                    <i class="fa fa-list"></i> My Contents</a></li>
                                <li class="nav-item"><a href="/user/comments " class="nav-link"><i class="fa fa-comment"></i> My comments</a></li>
                               <li class="nav-item"><a href="/logout/" class="nav-link"><i class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}